
/* Global Layout Narrow container */
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

a {
	color: #a41d21;
}

/* Header*/
.logo {
	height:60px;
}
.header {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 2px solid #a41d21;
}
/* Main Area */

.photo {
	height: 350px;
	padding-bottom: 10px;
}

.photo-small {
	height: 250px;
	float: right;
	margin-left: 20px;
}

.jumbotron ul {
	list-style: none;
	padding-left: 0px;
}

.jumbotron p {
	font-size: 16px
}

h1.name {
	margin-top: -10px;
	font-size: 40px;
}

span.glyphicon-empty {
	margin-right: 18px;
}

.jumbotron h3 {
	margin-top: 20px;
}

.jumbotron {
	padding-top: 40px;
	padding-bottom: 40px;
}

/* Papers Area */


.papers h1 {
	font-size: 30px;
}
.papers .title {
	font-size: 20px;
}

.papers .abstract {
	font-size: 13px;
	text-align: justify;

}

/* Working Papers */

.working-papers .title {
	display: inline;
	padding-right: 20px
}

.working-papers ul{
	list-style: none;
	padding-left: 0px;
}

.working-papers .paper-link {
	font-size: 18px;
}

.working-papers .pdf {
	padding-right: 10px;
}

.working-papers .co-authors {
	font-size: 15px;
	padding-bottom: 5px;
}

.working-paper {
	padding-bottom: 25px;
}

/* Work in Progress */

.work-in-progress {
	display:none;
}

.work-in-progress h2 {
	display: inline;
	padding-right: 20px;
}
.work-in-progress p {
	display: inline;
	font-size: 15px;
}

.wip-paper {
	padding-bottom: 25px;
}

.work-in-progress {
	padding-bottom: 10px;
}

/* Publications */

.publications h1 {
	font-size: 28px;
}

.publication .title {
	display: inline;
	padding-right: 20px
}

.publication .paper-link {
	font-size: 18px;
}

.publication {
	padding-bottom: 25px;
}




