
/* Global Layout Narrow container */
@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

a {
	color: #002C77;
}

/* Header*/
.logo {
	height:60px;
}
.header {
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom: 2px solid #002C77;
}
.header .nav-link {
	float: right;
	line-height: 60px;
	font-size: 22px;
	margin-left: 20px;
	font-variant: small-caps;
}
/* Main Area */

.photo {
	height: 350px;
	padding-bottom: 10px;
}

.photo-small {
	height: 250px;
	float: right;
	margin-left: 20px;
}

.jumbotron ul {
	list-style: none;
	padding-left: 0px;
	font-size: 16px;
}

.jumbotron p {
	font-size: 16px
}

h1.name {
	margin-top: -10px;
	font-size: 40px;
}



.jumbotron h3 {
	margin-top: 20px;
}

.jumbotron {
	padding-top: 40px;
	padding-bottom: 40px;
}

.cv {
	font-size: 20px;
}



/* Papers Area */

.publications h2 {
	padding-bottom: 10px;
}

.working-papers h2 {
	padding-bottom: 10px;
}

.main-area h1 {
	font-size: 30px;
}

.papers ul{
	list-style: none;
	padding-left: 0px;
}

.title {
	font-size: 18px;
}


.working-papers .title {
	display: inline;
	padding-right: 5px
}

.working-papers ul{
	list-style: none;
	padding-left: 0px;
}

.working-papers .paper-link {
	font-size: 16px;
	font-weight: bold;
}

.working-papers .submission-status {
	display: inline;
	font-weight: normal;
	font-size: 18px;
	padding-left: 10px;
}

.working-papers .date {
	/* color: #a41d21; */
	font-size: 16px;
	/* font-size: 17px; */
}

.working-papers .co-authors {
	font-size: 16px;
	padding-bottom: 5px;
}

.publication .co-authors {
	font-size: 16px;
	padding-bottom: 5px;
}

.working-papers .abstract {
	font-size: 13px;
	text-align: justify;
	padding-top: 5px;
}

.working-paper {
	padding-bottom: 25px;
}


/* Publications */

.publications h1 {
	font-size: 28px;
}

.publication .title {
	display: inline;
	padding-right: 5px
}

.publication .journal {
	font-size: 16px;
	font-weight: bold;
}

.publication .abstract {
	font-size: 13px;
	text-align: justify;
}

.publication .pub-info {
	font-size: 18px;
}

.publication {
	padding-bottom: 25px;
}


/* Teaching */

.teaching h2 {
	padding-bottom: 10px;
	margin-bottom: 25px;
}
.teaching ul{
	list-style: none;
	padding-left: 0px;
	font-size: 18px;
	margin-bottom: 25px;
}
.teaching .class-description {
	padding-top: 5px;
	font-size: 15px;
	text-align: justify;
}

/* Discussions */

.discussions h2 {
	padding-bottom: 10px;
	margin-bottom: 25px;
}
.discussions .discussion {
	padding-bottom: 25px;
	font-size: 16px;
}
.discussions .number,
.discussions .title,
.discussions .authors,
.discussions .discussion-conference {
	display: inline;
	padding-right: 5px;
	font-size: 16px;
	font-weight: normal;
}
.discussions .discussion-conference {
	font-weight: bold;
	white-space: nowrap;
}

/* Contact Information */

.contact-info ul{
	list-style: none;
	padding-left: 0px;
}





